* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    align-items: center;
}

body {
    background-color: #DFF7F9;
    color: black;
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
}

h1, h2 {
    font-weight: lighter;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 5%;
}

footer {
    position: fixed;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    background-color: rgb(246, 246, 246);
    display: flex;
    justify-content: center;
    border: 5px black solid;
    border-radius: 20em;
}

footer nav span {
    display: flex;
    justify-content: center;
}

nav ul {
    display: flex;
    list-style-type: none;
}

nav li {
    padding: 10px;
}

nav ul li a {
    color: black;
    text-decoration: none;
}

nav ul li a span {
    color: inherit;
}

.black-bar {
    background-color: black;
    height: 120px;
}

.text-home-one {
    position: absolute;
    width: 90%;
    top: 31%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: rgb(246, 246, 246);
    border: 5px black solid;
    padding: 5%;
}

.text-home-two {
    position: absolute;
    width: 90%;
    top: 57%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: rgb(246, 246, 246);
    border: 5px black solid;
    padding: 5%;
}

.text-home-three {
    position: absolute;
    width: 90%;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: rgb(246, 246, 246);
    border: 5px black solid;
    padding: 5%;
}

.background-container {
    position: relative;
}

.background-image {
    width: 100%;
    height: auto;
}
