* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    align-items: center;
    margin-bottom: -20%;
}

body {
    background-color: #DFF7F9;
    color: black;
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
    min-height: 100vh;
}

h1, h2 {
    font-weight: lighter;
}

h1 {
    padding-left: 5%;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 5%;
}
 
footer {
    position: fixed;
    bottom: 1%;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    background-color: rgb(246, 246, 246);
    display: flex;
    justify-content: center;
    border: 5px black solid;
    border-radius: 20em;
}

footer nav span {
    display: flex;
    justify-content: center;
}

nav ul {
    display: flex;
    list-style-type: none;
}

nav li {
    padding: 15px;
}

nav ul li a {
    color: black;
    text-decoration: none;
}

.black-bar {
    position: relative;
    background-color: black;
    height: 135px;
    width: 100%;
}

.text-home-one, .text-home-two, .text-home-three {
    width: 90%;
    margin: 40px auto;
    text-align: center;
    background-color: rgb(246, 246, 246);
    border: 5px black solid;
    border-radius: 40px;
    padding: 5%;
    display: flex;
    flex-direction: column;
}

.text-home-three {
    margin-bottom: 25%;
}

.text-impact-one, .text-impact-two, .text-impact-three {
    width: 90%;
    margin: 40px auto;
    text-align: center;
    background-color: rgb(246, 246, 246);
    border: 5px black solid;
    border-radius: 40px;
    padding: 5%;
    display: flex;
    flex-direction: column;
}

.text-impact-three {
    margin-bottom: 50%;
}

.tips .black-bar {
    margin-top: 35%;
}

body.index footer nav a[href="index.html"] {
    color: rgb(0, 78, 180);
}

body.tips footer nav a[href="tips.html"] {
    color: rgb(0, 78, 180);
}

body.impact footer nav a[href="impact.html"] {
    color: rgb(0, 78, 180);
}

.hand {
    width: 35%;
    position: absolute;
    transition: transform 0.2s ease;
}

.hand:active {
    transform: scale(1.3) rotate(10deg);
}

.hand-right {
    top: 40%;
    right: 0%;
}

.hand-right2 {
    top: 58%;
    right: 0%;
}

.hand-left {
    top: 61%;
}

.hand-up {
    top: 79%;
    left: 20%;
}

.hand-open {
    top: 130%;
    left: 0%;
}

.hand-point {
    top: 185%;
    right: 0%;
}

.background-container {
    position: relative;
    background-image: url('../images/background.png');
    padding-top: 85%;
    background-position: center;
    background-repeat: no-repeat;
}

.background-impact {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    margin-top: 15%;
}

.illustratieimpact {
    position: relative;
    padding-top: 25%;
    margin-bottom: 15%;
    animation: shake 10s infinite;
}

.wolk {
    position: absolute;
}

.wolk1 {
    width: 25%;
    height: auto;
    right: 0%;
    top: 0;
    animation: wolkbeweging1 10s infinite;
}

.wolk2 {
    width: 35%;
    height: auto;
    left: 50%;
    top: 7%;
    animation: wolkbeweging2 7s infinite;
    z-index: -1;
}

.wolk3 {
    width: 40%;
    height: auto;
    left: 0%;
    top: 8%;
    animation: wolkbeweging2 10s infinite;
    z-index: -1;
}

.wolk4 {
    width: 40%;
    height: auto;
    right: 0%;
    top: 45%;
    animation: wolkbeweging2 10s infinite;
}

.wolk5 {
    width: 35%;
    height: auto;
    left: 2%;
    top: 53%;
    animation: wolkbeweging1 10s infinite;
}

.vergrootglas {
    position: absolute;
    width: 90%;
    right: 0%;
    top: 25%;
}

.tips-container {
    width: 90%;
    margin: 30px auto;
    margin-top: 25%;
    margin-bottom: 125%;
    text-align: center;
    background-color: rgb(246, 246, 246);
    border: 5px black solid;
    border-radius: 40px;
    padding: 5%;
    display: flex;
    flex-direction: column;
}

.uphere {
    position: absolute;
    bottom: 100%;
    left: 5%;
    width: 50%;
}

.pulling {
    position: absolute;
    bottom: 100%;
    left: 35%;
    width: 65%;
    animation: trekanimatie 7s infinite;
}

.kledingstapel {
    position: absolute;
    bottom: 99%;
    right: 0;
    width: 75%;
}

@keyframes wolkbeweging1 {
    0% {
      transform: translateX(0) translateY(0);
    }
    50% {
      transform: translateX(30px);
    }
    100% {
      transform: translateX(0) translateY(0);
    }
  }

  @keyframes wolkbeweging2 {
    0% {
      transform: translateX(0) translateY(0);
    }
    50% {
      transform: translateX(-10px);
    }
    100% {
      transform: translateX(0) translateY(0);
    }
  }

  @keyframes trekanimatie {
    0% {
      transform: translateX(0) translateY(0);
    }
    50% {
      transform: translateX(-30px);
    }
    100% {
      transform: translateX(0) translateY(0);
    }
  }

  @keyframes shake {
    0%, 100% { transform: rotate(0deg); }
    25% { transform: rotate(3deg); }
    50% { transform: rotate(-3deg); }
    75% { transform: rotate(3deg); }
  }